*{box-sizing: border-box;}
body{
	background-color: #3855f3;
}
.container{
	margin: 50px auto;
	width: 600px;
	min-height: 200px;
	background-color: white;
}
.top-images{
	position: relative;
	vertical-align: bottom;
}
.top-images img{
	width: 600px;
	height: 300px;
}
.footer{
	text-align: justify;
}
.footer h4{
    color: dimgrey;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
	text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 0 1px #a29a9a;
}
.footer h2{
    margin: 0px;
    padding: 0 0 16px 0;
    font-size: 29px;
    font-family: cursive;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 0 1px #a59c9c;
}
.footer h3{
	padding: 0 50px;
	color: yellow;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
	text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 0 1px #a29a9a;
}
.footer p{
	padding: 0 60px;
}

.share{
	top: 260px;
    left: -40px;
    position: absolute;
    list-style-type: none;
    margin: 0;
    width: 55px;
    height: 170px;
    padding: 1px 0px;
    text-align: center;
    border-radius: 30px;
    background-color: yellow;
}
.share-link{
	text-transform: uppercase;
    padding: 15px 0 5px 0;
    font-size: 13px;
    font-weight: bold;
    font-family: monospace;
}
.share-links{
	padding: 6px;
}